@media(min-width: 768px) and (max-width: 1366 px){
  img{
    -moz-border-radius:10px 0;
    -webkit-border-radius:10px 0;
    border-radius:10px 0;
    height: 100px;
    text-align: center;
  }
body{
background: radial-gradient(white,grey, black);
}
a{
text-decoration: none;
color: black;
}
nav{
  width:100%;
  margin: 0 auto;
  background-color:black;
  position:sticky;
  top:0px;
  box-shadow:0px 1px 2px white;
}
nav ul{
  list-style-type:none;
}
nav ul li{

  float:left;
  width:25%;
  text-align:center;
  position:relative;
}

nav ul::after{
  content:"";
  display:table;
  clear:both;
}

nav a{

  display:block;
  text-decoration:none;
  color:black;
  border-bottom:2px solid transparent;
  padding: 10px 0px;
  color:white;
}
nav a:hover{
  color:gold;
  border-bottom: 2px solid gold;
}
.sous{
  display: none;
  box-shadow:0px 1px 2px gold;
  background-color:black;
  position:absolute;
  width:100%;
  z-index:1000;

}
nav > ul li:hover .sous{
  display:block;
}
.sous li{
  float: none;
  width: 100%;
  text-align:left;

}
.sous a{
  padding: 10px;
  border-bottom: none;

}
.sous a:hover{
  border-bottom:none;
  background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
  content:"▼";
  font-size:12px;
}
.container{
  margin: 5% auto ;
  background-color:white;
  border:solid;
}
.titre{
  text-align:center;
}
#centre{
  text-align:center;
}
#image{
  text-align:center;
}
}
body{
background: radial-gradient(white,grey, black);
}
a{
text-decoration: none;
color: black;
}
nav{
  width:100%;
  margin: 0 auto;
  background-color:black;
  position:sticky;
  top:0px;
  box-shadow:0px 1px 2px white;
}
nav ul{
  list-style-type:none;
}
nav ul li{

  float:left;
  width:25%;
  text-align:center;
  position:relative;
}

nav ul::after{
  content:"";
  display:table;
  clear:both;
}

nav a{

  display:block;
  text-decoration:none;
  color:black;
  border-bottom:2px solid transparent;
  padding: 10px 0px;
  color:white;
}
nav a:hover{
  color:gold;
  border-bottom: 2px solid gold;
}
.sous{
  display: none;
  box-shadow:0px 1px 2px gold;
  background-color:black;
  position:absolute;
  width:100%;
  z-index:1000;

}
nav > ul li:hover .sous{
  display:block;
}
.sous li{
  float: none;
  width: 100%;
  text-align:left;

}
.sous a{
  padding: 10px;
  border-bottom: none;

}
.sous a:hover{
  border-bottom:none;
  background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
  content:"▼";
  font-size:12px;
}
.container{
  margin: 5% auto ;
  background-color:white;
  border:solid;
  margin-left: 25%;
  margin-right: 25%;
}
.titre{
  text-align:center;
}
.centre{
  text-align:center;
}
img{
  border-radius:10px 0;
  height: 100px;
  text-align: center;
}
#image{
  text-align:center;
}
