body{
background: radial-gradient(white,grey, black);
}
a{
text-decoration: none;
color: black;
}
.container{
margin-top:15%;
margin-left:15%;
margin-right:15%;
border:solid;
border-width: 1px;
background-color:white;
box-shadow: 1px 1px 22px black;
}
.CV{
width:50%;

}
.LM{
width:50%;
float:right;
}
button:hover{
position:relative;
box-shadow: 1px 1px 22px black;
z-index: 1;
-webkit-transform:scale(1.25);
}
.pres{
text-align: center;
}
